*.class
.project
.classpath
.settings
target
.factorypath
*.iml
.idea/.name
.vscode/
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/dictionaries/*xml
logs/
/.idea/
query-server/src/main/.DS_Store
node_modules/*
commitlint.config.js
package.json
package-lock.json
